.header {
  padding-top: var(--theme-space-xxxl);
  padding-bottom: var(--theme-space-xxxl);
}
.header__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 179px;
  height: 34px;
  background: var(--primary-text-color);
}
